<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coursemanage.module.student.mapper.StudentMapper">
    <resultMap id="StudentMap" type="com.coursemanage.module.student.pojo.Student">
        <id property="id" column="id"/>
        <result property="avaUrl" column="ava_url"/>
        <result property="name" column="name"/>
        <result property="studentNo" column="student_no"/>
        <result property="gender" column="gender"/>
        <result property="roleType" column="role_type"/>
        <result property="department" column="department"/>
        <result property="major" column="major"/>
    </resultMap>

    <select id="getAllStudents" resultMap="StudentMap">
        SELECT id, ava_url, name, student_no, gender, role_type, department, major
        FROM student
    </select>

    <select id="getByStudentNo" parameterType="string" resultMap="StudentMap">
        SELECT id, ava_url, name, student_no, gender, role_type, department, major
        FROM student WHERE student_no = #{studentNo}
    </select>

    <select id="getStudentsByCourseId" parameterType="int" resultMap="StudentMap">
        SELECT id, ava_url, name, student_no, gender, role_type, department, major,course_id
        FROM student WHERE  course_id = #{courseId}
    </select>

    <insert id="insertStudent" parameterType="com.coursemanage.module.student.pojo.Student" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO student(ava_url, name, student_no, gender, role_type, department, major)
        VALUES(#{avaUrl}, #{name}, #{studentNo}, #{gender}, #{roleType}, #{department}, #{major})
    </insert>
</mapper>
